<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login - Groco</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<section class="form-container">
		<form action="/login" method="post">
			<h3>login now</h3>
			<div th:if="${param.error}" class="" style="color: red; font-weight: bold;font-size: 1.5rem;">
				[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
			</div>
			<div th:if="${param.logout}" class="" style="color: green; font-weight: bold;font-size: 1.5rem;">
				Logout Successfully
			</div>
			<input type="email" name="username" class="box" placeholder="enter your email" required />
			<input type="password" name="password" class="box" placeholder="enter your password" required />
			<button class="btn" type="submit">login now</button>
			<p ><a style="color:blue;" href="forgot-password">forgot password</a></p>
			<p>don't' have an account ? <a href="register">register now</a></p>
		</form>
	</section>
	<script src="index.js"></script>
</body>

</html>