<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login - Groco</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<section class="form-container">
		<form action="/reset_password" method="post">
			<th:block th:if="${session.successMsg}">
				<p style="color: green;">[[${session.successMsg}]]</p>
				<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
			</th:block>
			<th:block th:if="${session.errorMsg}">
				<p style="color: red;">[[${session.errorMsg}]]</p>
				<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
			</th:block>
			<h3>reset now</h3>
			<input type="password" name="password" class="box" placeholder="new password" required />
			<input type="password" name="cpassword" class="box" placeholder="confirm password" required />
			<input type="hidden" th:value="${token}" name="token">
			<button class="btn" type="submit">reset now</button>
		</form>
	</section>
</body>

</html>